* {
    margin: 0;
    padding: 0;
}
.botaoPagina {
  margin: 10px;
  padding: 5px;
  border-radius: 10px;
  color: rgb(21, 105, 21);
}
.container-fluid{
display: flex;
flex-direction: row;
flex-wrap: wrap;
justify-content: space-between;
grid-row-gap: 2rem;
margin-left: 30px;


}
.fundo {
    background-image: url('../images/FUNDO_3.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    height: 1800px;
    position: relative;
  }

h1{ 
    color: rgb(16, 110, 16);
}
.logo{
    width:150px;
    height:80px;
    animation: Animation 4s ease-in-out infinite;
}

.info {
    display: flex;
    align-items: center;
    color: rgb(255, 255, 255);
    opacity: 60%;
  }
  .dev {
    color: rgb(255, 255, 255);
    margin-top: 40px;
  }
footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 150px;
    justify-content: center;
    align-items: center;
    background-color:rgb(12, 143, 12);
  
}

@keyframes Animation {
    from{
        transform: rotate(0);
    }
    to{
        transform: rotate(360deg);
    }
}
@keyframes text-focus-in-out {
  0% {
    filter: blur(0px);
    opacity: 0.09;
  }
  10% {
    filter: blur(0px);
    opacity: 0.2;
  }
  20% {
    filter: blur(0px);
    opacity: 0.4;
  }
  30% {
    filter: blur(0px); 
    opacity: 0.6;
  }
  40% {
  filter: blur(0px);
    opacity: 0.8;
  }
  50% {
    filter: blur(0px);
    opacity: 1;
  }
  60% {
    filter: blur(0px);
    opacity: 0.8;
  }
  70% {
    filter: blur(0px);
    opacity: 0.6;
  }
  80% {
    filter: blur(0px);
    opacity: 0.4;
  }
  90% {
    filter: blur(0px);
    opacity: 0.2;
  }
  100% {
    filter: blur(0px);
    opacity: 0.09;
  }
}
